<footer class="pt-40 px-4">
  <div class="container flex flex-col justify-between mx-auto space-y-8">
    <div>
      <a class="flex justify-center" href="">
        <div class="flex">
          <img
            class="h-8 w-8 mr-2"
            src="https://static.vecteezy.com/system/resources/previews/015/309/689/original/new-zealand-waving-flag-realistic-transparent-background-free-png.png"
            alt=""
          />
        </div>
        <span class="font-semibold text-gray-500 text-2xl"> NZ </span>
      </a>
    </div>
    <div class="grid grid-cols-3 gap-x-3 gap-y-8 text-sm">
        <div class="space-y-3">
            <h3 class="text-blue-500 uppercase tracking-wide">product</h3>
            <ul class="space-y-1">
                <li>
                    <a href="">Features</a>
                </li>
                <li>
                    <a href="">Integrations</a>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
            </ul>
        </div>
        <div class="space-y-3">
            <h3 class="text-blue-500 uppercase tracking-wide">company</h3>
            <ul class="space-y-1">
                <li>
                    <a href="">privacy</a>
                </li>
                <li>
                    <a href="">IntegratiTerms of services</a>
                </li>
            </ul>
        </div>
        <div class="space-y-3">
            <h3 class="text-blue-500 uppercase tracking-wide">developer</h3>
            <ul class="space-y-1">
                <li>
                    <a href="">Public API</a>
                </li>
                <li>
                    <a href="">Documentation</a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</footer>
