<div
  class="p-10 grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5"
>
  <div class="rounded overflow-hidden shadow-xl">
    <img
      class="w-full"
      src="https://www.celebritycruises.com/blog/content/uploads/2022/04/best-cities-in-new-zealand-wellington.jpg"
      alt=""
    />
    <div class="px-4 py-4">
      <div class="font-bold text-xl mb-2">Wellington</div>
      <p class="text-gray-700">
        Culture, coffee, craft beer, and cute critters converge in this coastal
        capital city, providing the perfect introduction to everything New
        Zealand offers.
      </p>
    </div>
  </div>
  <div class="rounded overflow-hidden shadow-xl">
    <img
      class="w-full"
      src="https://www.celebritycruises.com/blog/content/uploads/2022/04/best-cities-in-new-zealand-dunedin-train-station.jpg"
      alt=""
    />
    <div class="px-4 py-4">
      <div class="font-bold text-xl mb-2">Dunedin</div>
      <p class="text-gray-700">
        Take a stroll through downtown Dunedin, and you’d be forgiven for
        thinking you’ve been transported to Scotland—but no, you are still some
        11,000-plus miles away.
      </p>
    </div>
  </div>
  <div class="rounded overflow-hidden shadow-xl">
    <img
      class="w-full"
      src="https://www.celebritycruises.com/blog/content/uploads/2022/04/best-cities-in-new-zealand-queenstown-lake-wakatipu-.jpg"
      alt=""
    />
    <div class="px-4 py-4">
      <div class="font-bold text-xl mb-2">Queenstown</div>
      <p class="text-gray-700">
        Cradled by craggy mountains and snow-capped peaks, Queenstown is about
        as quintessentially postcard-worthy as cities come. With a prime
        position on inland Lake Wakatipu, nature dictates how you spend your
        days.
      </p>
    </div>
  </div>
  <div class="rounded overflow-hidden shadow-xl">
    <img
      class="w-full"
      src="https://www.celebritycruises.com/blog/content/uploads/2022/04/best-cities-in-new-zealand-auckland.jpg"
      alt=""
    />
    <div class="px-4 py-4">
      <div class="font-bold text-xl mb-2">Auckland</div>
      <p class="text-gray-700">
        As the most populated metropolis in the country, Auckland is
        unsurprisingly awash with everything that makes New Zealand dazzle. In
        fact, it is often voted as one of the best liveable cities in the whole
        world.
      </p>
    </div>
  </div>
  <div class="rounded overflow-hidden shadow-xl">
    <img
      class="w-full"
      src="https://www.celebritycruises.com/blog/content/uploads/2022/04/best-cities-in-new-zealand-rotorua.jpg"
      alt=""
    />
    <div class="px-4 py-4">
      <div class="font-bold text-xl mb-2">Rotorua</div>
      <p class="text-gray-700">
        Arriving in Rotorua is like reaching another planet. Renowned for its
        geothermal activity, the steam and sulphuric scent are the first, but
        certainly not the last, of the city’s surprises to awaken your senses.
      </p>
    </div>
  </div>
  <div class="rounded overflow-hidden shadow-xl">
    <img
      class="w-full"
      src="https://www.celebritycruises.com/blog/content/uploads/2022/04/best-cities-in-new-zealand-tauranga.jpg"
      alt=""
    />
    <div class="px-4 py-4">
      <div class="font-bold text-xl mb-2">Tauranga</div>
      <p class="text-gray-700">
        Set in the Bay of Plenty region, best known for long stretches of
        coastline and cerulean-hued waters, it’s no surprise that this is one of
        the top cities in New Zealand for beach lovers and surfers.
      </p>
    </div>
  </div>
</div>
