<!-- navigation bar -->
<nav class="bg-white shadow-lg">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <div class="">
          <a class="flex items-center py-4 px-2" href="#">
            <img
              src="https://cdn-icons-png.flaticon.com/512/25/25694.png"
              alt=""
              class="h-8 w-8 mr-2"
            />
            <span class="font-semibold text-gray-500 text-lg">Prime</span>
          </a>
        </div>
        <div class="hidden sm:flex items-center space-x-1">
          <a
            class="py-4 px-2 border-green-500 border-b-4 text-green-500 font-semibold"
            href="#"
            >Home</a
          >
          <a
            class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
            href="#"
            >Service</a
          >
          <a
            class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
            href="#"
            >About</a
          >
          <a
            class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
            href="#"
            >Contact</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
