<div
  class="py-20 h-screen bg-no-repeat g-cover bg-center"
  style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('https://www.celebritycruises.com/blog/content/uploads/2022/04/best-cities-in-new-zealand-whakarewarewa-living-ma%CC%84ori-village-rotorua.jpg');
      background-color: black;
  "
>
  <div class="container mx-auto px-6 mt-40">
    <h2 class="text-white text-4xl font-bold mb-2">Must do New Zealand experiences</h2>
    <h3 class="text-gray-200 text-2xl mb-8">
      Across our incredible country, you can find everything from untamed
      wilderness to rich culture. There's more to find in Aotearoa New Zealand.
      Start seeking
    </h3>
    <button class="text-white uppercase border-2 px-8 py-4 font-semibold shadow-lg">
        Explore Locations
    </button>
  </div>
</div>
