<div
  class="p-10 grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5"
>
  <div class="rounded overflow-hidden shadow-xl">
    <img
      class="w-full"
      src="https://www.newzealand.com/assets/Tourism-NZ/Northland-Bay-of-Islands/TNZ2181__aWxvdmVrZWxseQo_FocalPointCropWzE4MCwzMjAsNjksNDMsNzUsImpwZyIsNjUsMi41XQ.jpg"
      alt=""
    />
    <div class="px-4 py-4">
      <div class="font-bold text-xl mb-2">Māori culture</div>
      <p class="text-gray-700">
        Māori are the tangata whenua (indigenous people) of Aotearoa New Zealand
        and their culture is an integral part of local life. Experience Māori
        culture first-hand when you visit New Zealand.
      </p>
    </div>
    <div class="px-2 pb-2">
      <span
        class="inline-block text-blue-300 font-bold tet-sm px-3 py-1 mr-2 mb-2"
        >test</span
      >
    </div>
    <div class="px-2 pb-2">
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >test</span
      >
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >test</span
      >
    </div>
    <div class="px-2 pb-2">
      <button
        class="inline-block bg-blue-500 rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2"
      >
        Visit
      </button>
    </div>
  </div>
  <div class="rounded overflow-hidden shadow-xl">
    <img
      class="w-full"
      src="https://www.newzealand.com/assets/Tourism-NZ/Wellington/BeersattheBasin3__aWxvdmVrZWxseQo_FocalPointCropWzQzMCw2MzAsNTAsNTAsNzUsImpwZyIsNjUsMi41XQ.jpg"
      alt=""
    />
    <div class="px-4 py-4">
      <div class="font-bold text-xl mb-2">Food and drink</div>
      <p class="text-gray-700">
        Eat and drink your way around New Zealand to discover unique flavours
        and food fresh from the source. Discover fresh New Zealand seafood and
        food and wine events. Find out more.
      </p>
    </div>
    <div class="px-2 pb-2">
      <span
        class="inline-block text-blue-300 font-bold tet-sm px-3 py-1 mr-2 mb-2"
        >test</span
      >
    </div>
    <div class="px-2 pb-2">
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >test</span
      >
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >test</span
      >
    </div>
    <div class="px-2 pb-2">
      <button
        class="inline-block bg-blue-500 rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2"
      >
        Visit
      </button>
    </div>
  </div>
  <div class="rounded overflow-hidden shadow-xl">
    <img
      class="w-full"
      src="https://www.newzealand.com/assets/Campaigns/If-You-Seek/Milford_Sound-Fiordland-MH__aWxvdmVrZWxseQo_FocalPointCropWzMyMCwzMjAsMzgsNTcsNzUsImpwZyIsNjUsMi41XQ.jpg"
      alt=""
    />
    <div class="px-4 py-4">
      <div class="font-bold text-xl mb-2">Nature & Wildlife</div>
      <p class="text-gray-700">
        Experience New Zealand's unique nature and wildlife. Go whale watching
        or explore the unspoiled landscape. Discover more now.
      </p>
    </div>
    <div class="px-2 pb-2">
      <span
        class="inline-block text-blue-300 font-bold tet-sm px-3 py-1 mr-2 mb-2"
        >test</span
      >
    </div>
    <div class="px-2 pb-2">
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >test</span
      >
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >test</span
      >
    </div>
    <div class="px-2 pb-2">
      <button
        class="inline-block bg-blue-500 rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2"
      >
        Visit
      </button>
    </div>
  </div>
</div>
